<h3>#{{item.id}} - {{item.brand}} {{item.name}}</h3>
<form class="form-horizontal">

    <!-- Global Data -->
    <fieldset>
        <legend>Global Data</legend>
        <div class="control-group">
            <label class="control-label" for="itemBrand">Brand  </label>
            <div class="controls">
                <input id="itemBrand" type="text" placeholder="Item Brand" ng-model="item.brand"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="itemName">Name  </label>
            <div class="controls">
                <input id="itemName" type="text" placeholder="Item name" ng-model="item.name"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="itemDescription">Description  </label>
            <div class="controls">
                <textarea id="itemDescription" placeholder="Item description" ng-model="item.description" rows="10" style="width:70%"></textarea>
            </div>
        </div>
    </fieldset>

    <!-- Pricing -->
    <fieldset>
        <legend>Pricing</legend>
        <div class="control-group">
            <label class="control-label" for="itemPrice">Price  </label>
            <div class="controls">
                <input id="itemPrice" type="text" placeholder="Item price" ng-model="item.price"/>
                <select style="width:100px;">
                    <option>EUR</option>
                    <option>USD</option>
                </select>
            </div>
        </div>
        <!--<div class="control-group">-->
            <!--<label class="control-label" for="itemVAT">VAT  </label>-->
            <!--<div class="controls">-->
                <!--<div class="input-append">-->
                    <!--<input id="itemVAT" class="span4" type="text" ng-model="item.vat">-->
                    <!--<span class="add-on">%</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </fieldset>

    <!-- Tags -->
    <fieldset>
        <legend>Indexing</legend>
        <input id="newTag" type="text" placeholder="New tag" type-ahead source="tags" on-select="addTag" />
        <p style="margin-top:10px">
            <span ng-repeat="tag in item.tags"
                  style="margin-right:5px;" class='label label-success'>{{tag.name}}
                <a href="" style="margin-left:3px;" ng-click="removeTag($index)"><i class="icon-remove-circle icon-white"></i></a></span>
        </p>
    </fieldset>

    <!-- Image -->
    <fieldset>
        <legend>Image</legend>
        <div class="control-group">
            <label class="control-label" for="itemImage">Image  </label>
            <div class="controls">
                <input id="itemImage" type="file" data-file="current.file"/>
                <p>Preview : </p>
                <img alt='300x200' style='width:100px;' ng-src='{{item.base64Image}}'>
            </div>
        </div>
    </fieldset>
</form>