<!-- Top Page navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="brand">
            <img id="webmarket-head-logo" src="../styles/images/webmarket-logo.png"/>WebMarket
        </div>
        <div class="nav-collapse collapse">
            <div id="auth-form"></div>
            <ul class="nav pull-right">
                <li><img id="webmarket-cart-logo" src="../styles/images/cart-logo.png"/></li>
                <li ng-switch="isLogged">
                    <img ng-switch-when="false" id="webmarket-auth-logo" src="../styles/images/user-logo.png" ng-click="login()"/>
                    <img ng-switch-when="true" id="webmarket-auth-logo" src="../styles/images/user-logo.png" ng-click="logout()"/>
                </li>
                <li ng-show="isLogged" style="color:red;">Logged as :
                    {{username}}
                </li>
            </ul>
        </div>
    </div>
</div>
