<!-- Navigation Bar (Left-Side) -->
<div class="span2">
    <ul class="nav nav-list">
        <li class="nav-header">{{'global.navigation' | i18n}}</li>
        <li><a href="" ng-click="redirect('/')">{{'home' | i18n}}</a></li>

        <li class="nav-header">{{'browse.items' | i18n}}</li>
        <li><a href="" ng-click="redirect('/items')">{{'full.list' | i18n}}</a></li>
    </ul>

    <ul ng-show="isLogged" class="nav nav-list" style="padding-top: 10px;">
        <li class="nav-header">{{'administer' | i18n}}</li>
        <li><a href="" ng-click="redirect('/admin')">{{'global.configuration' | i18n}}</a></li>
        <li><a href="" ng-click="redirect('/admin/items')">{{'manage.items' | i18n}}</a></li>
        <li><a href="" ng-click="redirect('/admin/stats')">{{'statistics' | i18n}}</a></li>
    </ul>
</div>