<!-- Navigation Bar (Left-Side) -->
<div class="span2">
    <ul class="nav nav-list">
        <li class="nav-header">Global Navigation</li>
        <li><a href="" ng-click="redirect('/')">Home</a></li>

        <li class="nav-header">Browse Items</li>
        <li><a href="" ng-click="redirect('/items')">Full List</a></li>
    </ul>

    <ul ng-show="isLogged" class="nav nav-list" style="padding-top: 10px;">
        <li class="nav-header">Administer</li>
        <li><a href="" ng-click="redirect('/admin')">Global Configuration</a></li>
        <li><a href="" ng-click="redirect('/admin/items')">Manage Items</a></li>
        <li><a href="" ng-click="redirect('/admin/stats')">Statistics</a></li>
    </ul>
</div>