<!-- Navigation Bar (Left-Side) -->
<div class="span2">
    <ul id="webmarket-nav-list" class="nav nav-list">
        <li class="nav-header">Global Navigation</li>
        <li><a href="/">Home</a></li>

        <li class="nav-header">Browse Items</li>
        <li><a href="/#/items">Full List</a></li>

        <li class="nav-header">Administer</li>
        <li><a href="/">Global Configuration</a></li>
        <li><a href="/">Manage Items</a></li>
        <li><a href="/">Statistics</a></li>
    </ul>
</div>