<!-- Header -->
<div ng-include src="'views/header.html'"></div>

<!-- Content -->
<div class="container-fluid">
    <div class="row-fluid">
        <!-- Navigation Bar (Left-Side) -->
        <div ng-include src="'views/navigation.html'"></div>

        <!-- Main Container -->
        <div id="webmarket-content" class="span10">

            <!-- Search bar -->
            <form class="form-search">
                <input type="text" class="input-medium search-query" ng-model="query" style="float:right; margin-bottom:10px;">
            </form>

            <!-- Items displayed as thumbnail -->
            <div class="row-fluid">
                <div id="items-list">
                    <ul class="thumbnails">
                        <li ng-repeat="item in items | filter:query">
                            <div class="thumbnail">

                                <img alt='300x200' style='width:100px; float:right;' ng-src='data:image/png;base64,{{item.base64Image}}'>

                                <div class=' caption'>
                                    <a href='' ng-click="showItemDetails(item.id)">
                                        <h3>{{item.brand}} - {{item.name}}</h3>
                                    </a>
                                    <p>{{item.description}}</p>

                                    <p>
                                        <span ng-repeat="tag in item.tags"
                                              style="margin-right:5px;" class='label label-success'>{{tag.name}}</span>
                                    </p>
                                    <p>
                                        <span class='label label-info'>{{item.price}} {{currency}}</span>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
