<!-- Header -->
<div ng-include src="'views/header.html'"></div>

<!-- Content -->
<div class="container-fluid">
    <div class="row-fluid">
        <!-- Navigation Bar (Left-Side) -->
        <div ng-include src="'views/navigation.html'"></div>

        <!-- Main Container -->
        <div id="webmarket-content" class="span10">

            <div ng-include src="'partials/item.editor.tmpl.html'"></div>

            <button class="btn btn-danger" ng-click="redirect('/admin/items')"><i class="icon-white icon-remove"></i> Cancel</button>
            <button class="btn btn-success" ng-click="saveItem()"><i class="icon-white icon-check"></i> Save</button>
        </div>
    </div>
</div>
