<div id="webmarket-content">

    <!-- Search bar -->
    <form class="form-search" style="float:right; margin-bottom:10px;">
        <label for="search">Search : </label>
        <input id="search" type="text" class="input-medium search-query" ng-model="query">
    </form>

    <h3>Orders List</h3>

    <button class="btn btn-small btn-success" ng-click="redirect('/users/new')"><i class="icon-plus icon-white"></i> Add User</button>

    <div class="row-fluid">
        <div id="items-list">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th># <a href=""><i ng-class="{true: 'icon-arrow-down', false:'icon-arrow-up'}[reverse]" ng-click="predicate = 'username' ; reverse = !reverse"></i></a></th>
                    <th>Date</th>
                    <th>Customer</th>
                    <th>Amount <a href=""><i ng-class="{true: 'icon-arrow-down', false:'icon-arrow-up'}[reverse]" ng-click="predicate = 'firstName' ; reverse = !reverse"></i></a></th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in orders | orderBy:predicate:reverse | filter:query">
                    <td>{{order.id}}</td>
                    <td>{{prettyDate(order.date)}}</td>
                    <td>{{order.user.username}} ({{order.user.firstName}} {{order.user.lastName}})</td>
                    <td>{{order.amount}} {{'currency' | i18n}}</td>
                    <td>
                        <button class="btn btn-mini btn-info" ng-click="redirect('/orders/' + order.id + '/details')"><i class="icon-white icon-eye-open"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
